.paperForm {
    width: 400px;
    position: absolute;
    z-index: 15;
    top: 35%;
    left: 45%;
    padding:12px;
    margin: -100px 0 0 -150px;
}

.buttonClass {
    margin: 20px;
    float: right;
}
.headTextClass {
    margin: 12px;
}
.inputClass {
     margin: 12px;
     float: left;
     width: 300px;
     padding: 15px;
}

